# 2026 NVIDIA CORPORATION & AFFILIATES
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: nicinterfacenametemplates.configuration.net.nvidia.com
spec:
  group: configuration.net.nvidia.com
  names:
    kind: NicInterfaceNameTemplate
    listKind: NicInterfaceNameTemplateList
    plural: nicinterfacenametemplates
    singular: nicinterfacenametemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NicInterfaceNameTemplate is the Schema for the nicinterfacenametemplates
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NicInterfaceNameTemplateSpec defines the desired state of
              NicInterfaceNameTemplate
            properties:
              netDevicePrefix:
                description: |-
                  NetDevicePrefix specifies the prefix for the net device name
                  %nic_id%, %plane_id% and %rail_id% placeholders can be used to construct the device name
                  %nic_id% is the index of the NIC in the flattened list of NICs
                  %plane_id% is the index of the plane of the specific NIC
                  %rail_id% is the index of the rail where the given NIC belongs to
                type: string
              nodeSelector:
                additionalProperties:
                  type: string
                description: NodeSelector contains labels required on the node. When
                  empty, the template will be applied to matching devices on all nodes.
                type: object
              pfsPerNic:
                description: |-
                  PfsPerNic specifies the number of PFs per NIC
                  Used to calculate the number of planes per NIC
                type: integer
              railPciAddresses:
                description: |-
                  RailPciAddresses defines the PCI address to rail mapping and order
                  The first dimension is the rail index, the second dimension is the PCI addresses of the NICs in the rail.
                  The PCI addresses must be sorted in the order of the rails.
                  Example: [["0000:1a:00.0", "0000:2a:00.0"], ["0000:3a:00.0", "0000:4a:00.0"]] specifies 2 rails with 2 NICs each.
                items:
                  items:
                    type: string
                  type: array
                type: array
              rdmaDevicePrefix:
                description: |-
                  RdmaDevicePrefix specifies the prefix for the rdma device name
                  %nic_id%, %plane_id% and %rail_id% placeholders can be used to construct the device name
                  %nic_id% is the index of the NIC in the flattened list of NICs
                  %plane_id% is the index of the plane of the specific NIC
                  %rail_id% is the index of the rail where the given NIC belongs to
                type: string
            required:
            - netDevicePrefix
            - pfsPerNic
            - railPciAddresses
            - rdmaDevicePrefix
            type: object
          status:
            description: NicInterfaceNameTemplateStatus defines the observed state
              of NicInterfaceNameTemplate
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
