apiVersion: apps/v1
kind: Deployment
metadata:
  name: nic-configuration-operator
  namespace: {{ .RuntimeSpec.Namespace }}
  labels:
    app.kubernetes.io/component: nic-configuration-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: nic-configuration-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/component: nic-configuration-operator
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      priorityClassName: system-cluster-critical
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
        {{- if .DeploymentTolerations }}
        {{ .DeploymentTolerations | yaml | nindent 8 }}
        {{- end }}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: "node-role.kubernetes.io/master"
                    operator: In
                    values: [ "" ]
            - weight: 1
              preference:
                matchExpressions:
                  - key: "node-role.kubernetes.io/control-plane"
                    operator: In
                    values: [ "" ]
            {{- if .DeploymentNodeAffinity }}
            {{- if .DeploymentNodeAffinity.PreferredDuringSchedulingIgnoredDuringExecution }}
            {{- range .DeploymentNodeAffinity.PreferredDuringSchedulingIgnoredDuringExecution }}
            - weight: {{ .Weight }}
              preference:
                {{ .Preference | yaml | nindent 16 }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- if .DeploymentNodeAffinity }}
          {{- if .DeploymentNodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution }}
          requiredDuringSchedulingIgnoredDuringExecution:
            {{ .DeploymentNodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution | yaml | nindent 12 }}
          {{- end }}
          {{- end }}
      {{- if .CrSpec.Operator.ImagePullSecrets }}
      imagePullSecrets:
      {{- range .CrSpec.Operator.ImagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      securityContext:
        fsGroup: 65532
        runAsNonRoot: true
      serviceAccountName: nic-configuration-operator
      terminationGracePeriodSeconds: 10
      containers:
        - name: manager
          command:
            - /manager
          image: {{ imagePath .CrSpec.Operator.Repository .CrSpec.Operator.Image .CrSpec.Operator.Version }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            - name: LOG_LEVEL
              value: {{ .CrSpec.LogLevel }}
            {{- if .CrSpec.Env }}
            {{- range .CrSpec.Env }}
              {{ . | yaml | nindentPrefix 14 "- " }}
            {{- end }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- with .RuntimeSpec.ContainerResources }}
          {{- with index . "nic-configuration-operator" }}
          resources:
            {{- if .Requests }}
            requests:
              {{ .Requests | yaml | nindent 14}}
            {{- end }}
            {{- if .Limits }}
            limits:
              {{ .Limits | yaml | nindent 14}}
            {{- end }}
          {{- end }}
          {{- else }}
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 256Mi
          {{- end }}
          {{- if .CrSpec.NicFirmwareStorage }}
          volumeMounts:
            - name: firmware-cache
              mountPath: /nic-firmware
              readOnly: false
          {{- end }}
      {{- if .CrSpec.NicFirmwareStorage }}
      volumes:
        - name: firmware-cache
          persistentVolumeClaim:
            claimName: {{ .CrSpec.NicFirmwareStorage.PVCName }}
      {{- end }}
