stages:
  - trigger-jenkins-nspect-on-tag

trigger-jenkins-nspect-on-tag:
  stage: trigger-jenkins-nspect-on-tag
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|v[0-9.]+\.x)$/'  # runs on master and release *branch* commits (since gitlab pull-*mirrors* cannot trigger tag pipelines)
  tags:
    - os/linux
    - type/docker
  image: alpine
  variables:  # additional variables defined at the gitlab group scope
    JENKINS_JOB_NAME: nspect-automation
  # check if a git tag is associated with current commit and if yes, triggers nspect jenkins job with it
  script:
    - apk add --no-cache git
    - git fetch --tags upstream
    - GIT_TAG=$(git describe --tags --exact-match HEAD || true)
    - |
      if [ -n "$GIT_TAG" ]; then
        apk add --no-cache curl
        curl -fsSLX POST -u "$SVC_CLOUD_ORCH_CI_USERNAME:$SVC_CLOUD_ORCH_CI_JENKINS_TOKEN" "$BLOSSOM_JENKINS_URL/job/$JENKINS_JOB_NAME/buildWithParameters?GIT_TAG=$GIT_TAG"
      else
        echo "No tag found for this commit. Exiting."
      fi
