# Copyright 2020 NVIDIA
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: network-operator
  namespace: nvidia-network-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: network-operator
  template:
    metadata:
      labels:
        nvidia.com/ofed-driver-upgrade-drain.skip: "true"
        name: network-operator
    spec:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      serviceAccountName: network-operator
      containers:
        - name: network-operator
          # Replace this with the built image name
          image: mellanox/network-operator
          command:
          - network-operator
          imagePullPolicy: IfNotPresent
          env:
            - name: STATE_MANIFEST_BASE_DIR
              value: "/manifests"
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "network-operator"
            - name: ENABLE_WEBHOOKS
              value: $ENABLE_WEBHOOKS
