apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: spectrum-x-operator
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spectrumx.nvidia.com
  resources:
  - spectrumxrailpoolconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spectrumx.nvidia.com
  resources:
  - spectrumxrailpoolconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - spectrumx.nvidia.com
  resources:
  - spectrumxrailpoolconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sriovnetwork.openshift.io
  resources:
  - sriovnetworknodepolicies
  verbs:
  - get
  - list
  - watch
