apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nic-configuration-daemon
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: nic-configuration-daemon
    app.kubernetes.io/created-by: nic-configuration-operator
    app.kubernetes.io/part-of: nic-configuration-operator
    {{- include "nic-configuration-operator.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      control-plane: nic-configuration-daemon
      {{- include "nic-configuration-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: nic-configuration-daemon
      labels:
        control-plane: nic-configuration-daemon
        {{- include "nic-configuration-operator.selectorLabels" . | nindent 8 }}
    spec:
      nodeSelector: {{- toYaml .Values.operator.nodeSelector | nindent 8 }}
      serviceAccountName: {{ include "nic-configuration-operator.serviceAccountName" . }}
      terminationGracePeriodSeconds: 10
      hostNetwork: true
      hostPID: true
      priorityClassName: system-node-critical
      containers:
        - image: "{{ .Values.configDaemon.image.repository }}/{{ .Values.configDaemon.image.name }}:{{ .Values.configDaemon.image.tag | default .Chart.AppVersion }}"
          name: nic-configuration-daemon
          securityContext:
            privileged: true
          resources: {{- toYaml .Values.configDaemon.resources | nindent 12 }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if .Values.logLevel}}
            - name: LOG_LEVEL
              value: {{ .Values.logLevel }}
            {{- end}}
          volumeMounts:
            - name: sys
              mountPath: /sys
              readOnly: false
            - name: proc
              mountPath: /proc
              readOnly: false
            - name: host
              mountPath: /host
            {{- if .Values.nicFirmwareStorage.pvcName }}
            - name: firmware-cache
              mountPath: /nic-firmware
              readOnly: true
            {{- end }}
      volumes:
        - name: sys
          hostPath:
            path: /sys
        - name: proc
          hostPath:
            path: /proc
        - name: host
          hostPath:
            path: /
        {{- if .Values.nicFirmwareStorage.pvcName }}
        - name: firmware-cache
          persistentVolumeClaim:
            claimName: {{ .Values.nicFirmwareStorage.pvcName }}
        {{- end }}
